html, body {
    margin: 0;
    height: 100%;
} 
.CarouselItem {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}   
iframe {
    width: 0;
    height: 0;
    display: none;
}
#root {
    height: 100%;
    width: 100%;
}